.list-group-item {
    background-color: inherit;
    border-width: 0px;
    margin: 20px;
}
.btnn {
    color: white;
    background-color: inherit;
    border-color: white;
}
.btnn:hover {
    background-color: #fff;
    color:#f3a400;
}

.btnnn {
    border-color: white;
}
.btnnn:hover {
    background-color: #fff;
    color:#d9534f;
    border-color: white;
}

